svg {
  border: solid 1px black;
}

path {
  stroke: dimgray;
  fill: dimgray;
  stroke-linecap: square;
  stroke-width: 2px;
  fill-opacity: 0%;
}

text {
  stroke: white;
  fill: white;
  fill-opacity: 100%;
  font-size: 30px;
  stroke-width: 0;
  /* font-weight: lighter; */
  /* font-family: monospace; */
}

text.label {
  stroke: orange;
  fill: orange;
  fill-opacity: 100%;
  font-size: 20px;
}

rect {
  stroke: mediumaquamarine;
  fill: mediumaquamarine;
  stroke-width: 2px;
  fill-opacity: 100%;
  /* rx: 3px; */
  /* ry: 3px; */
}

polygon {
  fill: darkcyan;
  stroke: darkcyan;
  fill-opacity: 100%;
  stroke-width: 0px;
}

polygon.arrow-head {
  fill: dimgray;
  stroke: dimgray;
  fill-opacity: 100%;
  stroke-width: 0px;
}
